input.submit-button {
    background-color: #003153;
    color: ghostwhite;
    font-weight: bold;
    padding: 0.4rem 20px;
    margin-left: 5px;
    border: 1px solid #003153;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
}

input.submit-button:hover {
    cursor: pointer;
    background-color: #0c4670;
}