table {
    margin: 2rem 20px;
    border-collapse: collapse;
}

th {
    border-top: 2px solid #535353;
    border-bottom: 2px solid #535353;
}

table {
    border-bottom: 2px solid #535353;
}

th, td {
    padding: 0.2rem 15px;
    text-align: left;
}